@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.alert-danger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #F8D7DA;
    color: #84202F;
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-body {
    display: flex;
    height: 100vh;
    /* background-color: blueviolet; */
}

.left-nav {
    width: 4%;
    min-width: 4rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-main {
    width: 48%;
    /* background-color: bisque; */
}

.right-main {
    width: 48%;
    background: linear-gradient(to bottom, skyblue, white);
}

.mobile-nav {
    display: none;
}

@media screen and (max-width: 1023px) {
    .main-body {
        flex-direction: column;
        height: 94vh;
    }

    .main-body>div {
        width: 100%;
        height: 100%;
    }

    .left-nav {
        display: none;
    }

    .mobile-nav {
        width: 100%;
        height: 6vh;
        background-color: aqua;
        display: block;
    }
}

.left-nav>.upper-section {
    max-height: 5rem;
    min-height: 5rem;
    background-color: #FFCA18;
}

.left-nav>.upper-section>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left-nav>.lower-section {
    max-height: 90%;
    width: 100%;
    text-align: center;
}

.left-nav>.lower-section>ul {
    list-style: none;
    align-content: center;
}

.left-nav>.lower-section>ul>li {
    margin: 10px;
    padding: 12px;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
}

.left-nav>.lower-section>ul>li:hover {
    background-color: #FFCA18;
}

.left-nav>.lower-section>ul>li>a>i {
    color: #000;
}

.left-main-nav {
    width: 100%;
    height: 10vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-main-nav>.logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-main-nav>.links {
    margin-right: 2rem;
}

.left-main-nav>.links>ul {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-main-nav>.links>ul>li {
    list-style: none;
    font-size: 1.2rem;
    margin: 0px 10%;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left-main-nav>.links>ul>li>a {
    text-decoration: none;
    color: #000;
}

.left-main-nav>.links>ul>li>a:hover {
    color: #FFCA18;
}

.right-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-main>img {
    width: 100%;
}

.right-main>h3 {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    /* border-bottom: 1px solid #FFCA18; */
    text-align: center;
}

.right-main>h3>.indian {
    font-size: 2.9rem;
    /* font-family: 'Mukta', sans-serif; */
    color: #FFCA18;
    text-shadow: 0px 0px 4px #000;
    font-family: 'Tiro Devanagari Hindi', serif;
    text-decoration: underline;
    padding-top: 1.2rem;

}

.right-main>h3>.cheetah {
    font-size: 1.5rem;
    font-family: 'Martian Mono', monospace;
    text-decoration: overline;
}

.right-main-nav {
    width: 100%;
    height: 10vh;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-main-nav>input {
    width: 30%;
    height: 50%;
    margin: 0px 0px 0px 2rem;
    padding: 0px 4px 0px 1rem;
    border: 0px;
    outline: 0px;
    border-radius: 10px;
    font-size: 1.4rem;
    background-color: rgb(118, 169, 190);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f0f0f0;
}

.right-main-nav>input::placeholder {
    color: #fff;
    font-size: 1.5rem;
}

.right-main-nav>img {
    height: 40px;
    width: 40px;
    margin: 0px 2rem 0px 0px;
    object-fit: cover;
    border-radius: 50%;
}

.right-main-nav>input:focus {
    border: 2px solid #FFCA18;
}

@media screen and (max-width:1023px) {

    .left-main-nav {
        display: none;
    }

    .right-main-nav {
        display: none;
    }
}

.about-profile {
    position: absolute;
    background-color: red;
    width: 13rem;
    height: 14rem;
    top: calc(40px + 1.5rem);
    left: calc(100% - 15rem);
    border-radius: 4%;
    background: rgb(44, 42, 42);
    background-color: rgba(255, 255, 255, .15) !important;
    backdrop-filter: blur(5px) !important;
    box-shadow: 0px 0px 5px 0px #888;
    display: none;
}

.about-profile h3 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px 0px 0px;
    /* border-bottom: 1px solid #FFCA18; */
    text-align: center;
}

.about-profile ul {
    list-style: none;
    padding: 0px;
    width: 100%;
    margin: 0px;
    text-align: center;
}

.about-profile ul li {
    padding: 4% 0rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid #FFCA18;
}

.about-profile ul li:last-child {
    border-bottom: 0px;
}

.left-main-body {
    height: 90vh;
    padding: 0px 2rem;
    width: calc(100% - 2rem);
    display: flex;
    /* align-items:center; */
    flex-direction: column;
    justify-content: center;

}

.left-main-body>h4 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    /* border-bottom: 1px solid #FFCA18; */
    text-align: left;
    color: #777;
}

.left-main-body h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: monospace;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    word-spacing: 1.2rem;
    letter-spacing: 0.5rem;
    /* border-bottom: 1px solid #FFCA18; */
    text-align: left;
    color: #000;
}

.left-main-body p {
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    letter-spacing: 0.1rem;
}

.btn-group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.btn-group>button {
    margin: 1rem;
    padding: 0.4rem 0.2rem;
    cursor: pointer;
}

.btn-group>button:first-child {
    background-color: #FFCA18;
    color: #000;
    border: 0px;
    outline: 0px;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    font-weight: 700;
}

.btn-group>button:last-child {
    color: #000;
    background-color: #fff;
    border: 0px;
    outline: 0px;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
}

.btn-group>button:last-child:hover {
    /* border: 1px solid #FFCA18; */
    padding: 0.4rem 0.8rem;
    text-decoration: underline;
}

@media screen and (max-width:1023px) {
    .left-main-body {
        padding: 1rem;
        height: min-content;
        width: calc(100% - 1rem);
    }

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}